# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
knowledge-destilation-bedrock-and-cmi/bedrock_batch_dataset.jsonl
knowledge-destilation-bedrock-and-cmi/train.jsonl
.gitignore
knowledge-destilation-bedrock-and-cmi/MaryShelleyFrankenstein.txt
knowledge-destilation-bedrock-and-cmi/trex_sample.jsonl
.gitignore
.gitignore
knowledge-destilation-bedrock-and-cmi/__pycache__/iam_role_helper.cpython-310.pyc
knowledge-destilation-bedrock-and-cmi/__pycache__/utils.cpython-310.pyc
knowledge-destilation-bedrock-and-cmi/data/llmeter/us.meta.llama3-3-70b-instruct-v1:0/heatmap/payload.jsonl
knowledge-destilation-bedrock-and-cmi/data/llmeter/us.meta.llama3-3-70b-instruct-v1:0/heatmap/heatmap.png
knowledge-destilation-bedrock-and-cmi/data/llmeter/us.meta.llama3-3-70b-instruct-v1:0/heatmap/responses.jsonl
knowledge-destilation-bedrock-and-cmi/data/llmeter/us.meta.llama3-3-70b-instruct-v1:0/heatmap/run_config.json
knowledge-destilation-bedrock-and-cmi/data/llmeter/us.meta.llama3-3-70b-instruct-v1:0/heatmap/stats.json
knowledge-destilation-bedrock-and-cmi/data/llmeter/us.meta.llama3-3-70b-instruct-v1:0/heatmap/summary.json
.gitignore
.gitignore
.gitignore
knowledge-destilation-bedrock-and-cmi/bedrock_processing.log
knowledge-destilation-bedrock-and-cmi/config-bedrock-llama3-1-8b_cmi_distilation_comp.yml
.gitignore
.gitignore
knowledge-destilation-bedrock-and-cmi/dataset.jsonl
.gitignore
knowledge-destilation-bedrock-and-cmi/gigaword_sample.jsonl
knowledge-destilation-bedrock-and-cmi/processed_output.jsonl
knowledge-destilation-bedrock-and-cmi/pubmed_student_1.jsonl
knowledge-destilation-bedrock-and-cmi/pubmed_teacher_1.jsonl
knowledge-destilation-bedrock-and-cmi/template.json
.gitignore
knowledge-destilation-bedrock-and-cmi/trex_sample_with_model_outputs.jsonl
.gitignore
.gitignore
knowledge-destilation-bedrock-and-cmi/base_model_20250412_032130.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250415_191854.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250415_005135.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250415_004221.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250415_004124.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250414_230120.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250414_221641.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250414_162820.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250412_033205.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250412_033027.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250412_032238.jsonl
knowledge-destilation-bedrock-and-cmi/model_comparison_20250412_032130.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250412_032238.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250412_033027.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250412_033205.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250414_162820.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250414_221641.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250414_230120.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250415_004124.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250415_004221.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250415_005135.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250415_191854.json
knowledge-destilation-bedrock-and-cmi/student_model_20250412_032130.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250412_032238.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250412_033027.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250412_033205.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250414_162820.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250414_221641.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250414_230048.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250414_230120.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250415_004124.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250415_004221.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250415_005135.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250415_191854.jsonl
knowledge-destilation-bedrock-and-cmi/temp_sample_20250414_230048.jsonl
knowledge-destilation-bedrock-and-cmi/__pycache__/iam_role_helper.cpython-312.pyc
knowledge-destilation-bedrock-and-cmi/__pycache__/utils.cpython-312.pyc
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250414_212834.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250414_213853.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250414_214016.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250414_214128.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250414_214154.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250414_214857.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250414_215419.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250414_215813.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250414_233516.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250414_234400.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250415_002250.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250415_002429.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250415_013328.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250415_013330.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250415_192512.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250415_192513.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250415_194339.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250415_195328.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250415_195350.json
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/evaluation_job_20250415_195415.json
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250412_032129.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250412_032130.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250412_032237.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250412_032238.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250412_033026.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250412_033027.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250412_033205.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250414_162743.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250414_162820.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250414_221634.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250414_221641.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250414_230048.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250414_230119.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250414_230120.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250415_004124.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250415_004151.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250415_004221.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250415_005123.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250415_005135.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250415_175229.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250415_183059.log
knowledge-destilation-bedrock-and-cmi/logs/model_comparison_20250415_191854.log
knowledge-destilation-bedrock-and-cmi/base_model_20250428_212452.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250428_223750.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250429_165910.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250429_171927.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250430_000342.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250430_003123.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250430_025524.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250501_020247.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250502_003647.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250505_203415.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250505_225415.jsonl
knowledge-destilation-bedrock-and-cmi/base_model_20250506_022816.jsonl
knowledge-destilation-bedrock-and-cmi/bedrock-color.svg
knowledge-destilation-bedrock-and-cmi/aws_bedrock_and_sagemaker_architecture.png
knowledge-destilation-bedrock-and-cmi/evaluation_notebook_clean.ipynb
knowledge-destilation-bedrock-and-cmi/fm_eval_test.ipynb
knowledge-destilation-bedrock-and-cmi/knowledge_distillation_workflow.jpg
.gitignore
knowledge-destilation-bedrock-and-cmi/llmaaj-bring-your-own-inference.ipynb
knowledge-destilation-bedrock-and-cmi/llmaaj-byoi-sample-data.jsonl
knowledge-destilation-bedrock-and-cmi/knowledge_distillation_workflow.png
knowledge-destilation-bedrock-and-cmi/model_comparison_heatmap.png
knowledge-destilation-bedrock-and-cmi/model_comparison_plot.png
knowledge-destilation-bedrock-and-cmi/logs/*
knowledge-destilation-bedrock-and-cmi/evaluation_jobs/*
knowledge-destilation-bedrock-and-cmi/student_model_20250506_022816.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250505_225415.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250505_203415.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250502_003647.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250501_020247.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250430_025524.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250430_003123.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250430_000342.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250429_171927.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250429_165910.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250428_223750.jsonl
knowledge-destilation-bedrock-and-cmi/student_model_20250428_212452.jsonl
knowledge-destilation-bedrock-and-cmi/model_comparison_20250428_212452.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250428_223750.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250429_165910.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250429_171927.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250430_000342.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250430_003123.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250430_025524.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250501_020247.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250502_003647.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250505_203415.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250505_225415.json
knowledge-destilation-bedrock-and-cmi/model_comparison_20250506_022816.json
knowledge-destilation-bedrock-and-cmi/fm_eval_test.ipynb
knowledge-destilation-bedrock-and-cmi/fm_eval_test.ipynb
knowledge-destilation-bedrock-and-cmi/model_configs.json
knowledge-destilation-bedrock-and-cmi/__pycache__/evaluation_help_functions.cpython-312.pyc
Llama-3.2-Custom-Model-Import/__pycache__/iam_role_helper.cpython-312.pyc
.gitignore
knowledge-destilation-bedrock-and-cmi/sales_projections_large_20250501_215010.csv
knowledge-destilation-bedrock-and-cmi/sales_projections_small_20250501_215010.csv
Llama-3.2-Custom-Model-Import/__pycache__/utils.cpython-312.pyc
knowledge-destilation-bedrock-and-cmi/model_metrics_comparison_normalized.csv
knowledge-destilation-bedrock-and-cmi/model_comparison_spider.png
knowledge-destilation-bedrock-and-cmi/model_comparison_plots.png
knowledge-destilation-bedrock-and-cmi/model_comparison_radar_plot.png
.gitignore
.DS_Store
